

<div class="sidebar-lg">
  <div class="sidebar-box pt-md-4">
    <div action="#" class="search-form">
        <div class="form-group">
            <span *ngIf="keyword" class="icon  fa fa-times" (click)="keyword = ''; filterData$.emit(keyword)" ></span>
            <input type="text" class="form-control" placeholder="Type a keyword" [(ngModel)]="keyword" >
            <button class="submit-search" (click)="filterData$.emit(keyword);" [disabled]="!keyword || !keyword.trim()"><i class="fa fa-search"></i></button>
        </div>
      </div>
  </div>
  <div class="sidebar-box  " *ngIf="(categories$ | async) as categories">
    <h3 class="sidebar-heading">Categories</h3>
    <ul class="categories" *ngFor="let category of categories; let last = last">
        <li [ngClass]="{'mb-0 pb-0 border-bottom-0': last}"><a >{{category?.name}} <span>(6)</span></a></li>
    </ul>
  </div>
  
  <div class="sidebar-box  ">
    <h3 class="sidebar-heading">Tag Cloud</h3>
    <ul class="tagcloud">
        <a  class="tag-cloud-link">animals</a>
        <a  class="tag-cloud-link">human</a>
        <a  class="tag-cloud-link">people</a>
        <a  class="tag-cloud-link">cat</a>
        <a  class="tag-cloud-link">dog</a>
        <a  class="tag-cloud-link">nature</a>
        <a  class="tag-cloud-link">leaves</a>
        <a  class="tag-cloud-link">food</a>
    </ul>
  </div>
  
  <div class="sidebar-box subs-wrap img py-4"
    style="background-image: url( assets/images/bg_1.jpg);">
    <div class="overlay"></div>
    <h3 class="mb-4 sidebar-heading">Newsletter</h3>
    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia
    </p>
    <form action="#" class="subscribe-form">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Email Address">
            <input type="submit" value="Subscribe" class="mt-2 btn btn-white submit">
        </div>
    </form>
  </div>
</div>