 <button (click)="openSideHeader(header, header_content, header_toggler)" 
  class="header-side-menu-toggler" #header_toggler> <i class="fa fa-bars"></i>
</button>


<div class="header" #header>

 <div class="header-content" #header_content>
    <div class="home" [routerLink]="['/']">
      <!-- <img class="m-2" src="../../../../assets/icons/favicon-header.png"
      > -->
      <h1>
        B
      </h1>

    </div>
    
    <div class="actions mt-5">
          <button class="btn"  [routerLink]="['/']"  tooltip="Home" delay = "500">
            <i class="fa fa-home icon" ></i>
          </button>  
          <button class="btn"  [routerLink]="['/profile']"  tooltip="Profile" delay = "500">
            <i class="fa fa-user icon" ></i>
          </button>   

          <button class="btn" (click)="openPostFormCMPT()" tooltip="New Post" delay = "500">
            <i class="fa fa-sticky-note icon" ></i>
          </button>
          <button class="btn btn-danger" (click)="logout()"  tooltip="Log Out" delay = "500">
            <i class="fa fa-sign-out-alt icon"></i>
          </button>
    </div>
 </div>
</div>