@import '../../../../variables.scss';

:host {

    .header {
        .nav-toggler {
            color: #fff;
            position: absolute;
            top: 10px;
        }
        background-color: $main-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
        height: 100vh;
        z-index: 1000;
        box-shadow: 0px 0px 5px;
        transition: width .2s ease;

        width: 100px;
        position: fixed;
        .user , .home{
            outline: none;
            text-align: center;
            cursor: pointer;
            img {
                border-radius: 50%;
                width: 50px; 
                height: 50px;
                // border: 2px solid #fff;
            }
            .username {
                font-size: 17px;
                color: #fff;

            }
        }
        .actions {
            text-align:center;
            button {
                margin: 10px;
                width: 45px;
                height: 45px;
             &:not(.btn-danger){
                color: $main-color;
                background-color: #fff;
                border: none;
                transition: color .3s ease;
                &:hover {
                    color: $main-color-hover;
                }
             }
            }
            
        }
    }

    @media (max-width: 992px) {
        .header {
            width: 50px;
            .user , .home{
                img { width: 30px; height: 30px;}
                .username { display: none;}
            }
            .actions {
                button {
                    width: 30px;
                    height: 30px;
                    .text {
                        display: none;
                    }
                    .icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
    
    .header-sm{
        transition: all .2s ease;

        width: 50px;

        .user {
            img { 
                img { width: 30px !important;}
            }
            .username { display: none;}
        }
        .actions {
            button {
                width: 30px;
                height: 30px;
                .text {
                    display: none;
                }
                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }   


    @media (max-width: 400px) {
        .header {
            display: none;
        }
    }
}




.header-side-menu-toggler {   
    position: fixed;
    font-size: 15px;
    top: 60px;
    left: -20px;
    background: #29a0e9;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 50%;
    color: #fff !important;
    box-shadow: 0px 0px 4px #777;
    z-index: 100000;
}
@media (min-width: 400px) {
  .header-side-menu-toggler {
    display: none;
  }
}
