@import '../../../../variables.scss';

:host {

    .header {

        .nav-toggler {
            color: #fff;
            position: absolute;
            top: 10px;
        }
        background-color: $main-color;
        
        padding: 10px;
        height: 100vh;
        z-index: 1001;
        box-shadow: 0px 0px 1px;
        transition: all .2s ease;

        width: 65px;
        height: 100%;
        // position: fixed;
        .header-content {
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            position: fixed;
            width: 65px;
            left: 0;
            transition: all .2s ease;
        }
        .user , .home{
            outline: none;
            text-align: center;
            cursor: pointer;
            img {
                border-radius: 50%;
                width: 45px; 
                height: 45px;
                // border: 2px solid #fff;
            }
            h1{ 
                font-family: 'Russo One', cursive;
                background: #fff;
                color: $main-color;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: flex; justify-content: center; align-items: center;
          }
            .username {
                font-size: 17px;
                color: #fff;

            }
        }
        .actions {
            text-align:center;
            button {
                display: flex; align-items: center; justify-content: center; font-size: 14px;
                margin: 15px 0;
                width: 35px;
                height: 35px;
                border-radius: 50%;
             &:not(.btn-danger){
                color: $main-color;
                background-color: #fff;
                border: none;
                transition: color .3s ease;
                &:hover {
                    color: $main-color-hover;
                }
             }
            }
            
        }
    }

    @media (max-width: 992px) {
        .header {
            width: 50px;
            .header-content{
                width: 50px;
            }
            .user , .home{
                img { width: 30px; height: 30px;}
                h1{
                    font-size: 30px;
                    width: 40px;
                    height: 40px;
                }
                .username { display: none;}
            }
            .actions {
                button {
                    width: 30px;
                    height: 30px;
                    .text {
                        display: none;
                    }
                    .icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
    
    .header-sm{
        width: 50px;

        .user {
            img { 
                img { width: 30px !important;}
            }
            .username { display: none;}
        }
        .actions {
            button {
                width: 30px;
                height: 30px;
                .text {
                    display: none;
                }
                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }   


    @media (max-width: 400px) {
        .header {
            position: relative;
            margin-left: -50px;

            .header-content {
                margin-left: -50px;
            }
        }
    }
}


.ml-0{
    margin-left: 0;
}


.header-side-menu-toggler {   
    position: fixed;
    font-size: 15px;
    top: 20px;
    left: 10px;
    background: #fff;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    // border-radius: 50%;
    color: $main-color ;
    // box-shadow: 0px 0px 4px #777;
    z-index: 100000;
    transition: all .2s ease;
    box-shadow: 0px 2px 2px 0px #f0f0f0;
}

.header-side-menu-toggler.opened {
    background: transparent;
    color: #fff;
    box-shadow: 0px 0px 1px 0px #fff;
}

@media (min-width: 400px) {
  .header-side-menu-toggler {
    display: none;
  }
}
