<div class="post-details">
	<div class="" *ngIf="post;else loading">
		<section class="ftco-section ftco-no-pt ftco-no-pb">
			<div class="">
				<div class="d-flex">
					<div class="px-md-5">
						<div class="row pt-md-4">
							<div class="w-100 post-content">
								<app-post [post]="post" [postType]="'long'" (delete)="deletePost(post)" (edit)="editPost(post)"></app-post>
							</div>


							<div class="mt-5 pt-2 w-100">
								<h3 class="mb-5 font-weight-bold">{{post?.comments?.length}} Comments</h3>
								<ul class="comment-list" *ngIf="post?.comments?.length">
									<li class="comment" *ngFor="let comment of post?.comments; let i = index">
										<div class="vcard bio">
											<img class="rounded-circle" [src]="comment?.user?.picture"
												(error)="user_img2.src = 'https://ui-avatars.com/api/?background=f0f0f0&color=29a0e9&name='+comment.user?.name"
												alt="" #user_img2>
										</div>
										<div class="comment-body">
											<button *ngIf="currentUser['_id'] === comment['user']['_id']" class="delete-comment" (click)="deleteComment(i, comment._id)"><i class="fa fa-trash-alt"></i></button>
											<h3>
												{{comment?.user?.name}}
												<span *ngIf="currentUser['_id'] === comment['user']['_id']" class="badge badge-secondary p-1">Me</span>

											</h3>
											<div class="meta">October 03, 2018 at 2:21pm</div>
											<p>{{comment?.content}}</p>
										</div>
									</li>
								</ul>
								<!-- END comment-list -->

								<div class="comment-form-wrap pt-5">
									<h3 class="mb-5">Leave a comment</h3>
									<div  class="p-3 p-md-5 bg-light">
										<div class="form-group">
											<label for="message">Comment</label>
											<textarea name="" id="message" cols="30" rows="10"
												class="form-control" [(ngModel)]="comment"></textarea>
										</div>
										<div class="form-group">
											<button (click)='addComment(comment)' class="submit-btn py-3 px-4" 
												[disabled]="!comment || !comment.trim()">Post Comment</button>
										</div>

									</div>
								</div>
							</div>
						</div><!-- END-->
					</div>
				</div>
			</div>
		</section>
	</div><!-- END COLORLIB-MAIN -->


	<ng-template #loading>
		<!-- <div class="loading-spinner"> -->
		<!-- <app-spinner [size]="'lg'"></app-spinner> -->
		<div class="placeholder-img-container"
			[style.background]="'url(../../../assets/icons/PageContantLading.gif)'"
		>
			<img class="w-100" src="../../../assets/icons/PageContantLading.gif" alt="">
			<img class="w-100" src="../../../assets/icons/PageContantLading.gif" alt="">

			
			<img class="w-100" src="../../../assets/icons/PageContantLading.gif" alt="">
			<img class="w-100" src="../../../assets/icons/PageContantLading.gif" alt="">
			<img class="w-100" src="../../../assets/icons/PageContantLading.gif" alt="">
		</div>

		<!-- </div> -->
	</ng-template>
</div>