@import '../../../variables.scss';
.post-details {
    padding: 20px;

    h1, h3 {
        color: $main-color;
    }

    .about-author {
        img{
            width: 60px; height: auto;
        }
    } 
    .comment-list {
        .comment {
            position: relative;
            button.delete-comment {
                position: absolute; top: 0; right: 0;
                background: #f0f0f0;
                border: none;
                margin: 5px;
                outline: none;
                color: $main-color;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                transition: all .3s ease;
                &:hover{
                    // border: 1px solid #888;
                    background-color: #dc3545;
                    border-color: #dc3545;
                    color: #fff;
                }
            }
            .badge {
                background: $main-color;
            }
            img{
                width: 60px;
            }
        }
    }
}






.post-content {
    margin: 0px auto;
}


 /* Blockquote main style */
 .blockquote {
     position: relative;
     font-family: 'Special Elite', cursive;
     font-weight: 800;
     color: $main-color;
     padding: 50px 0;
     width: 100%;
    //  max-width: 500px;
     z-index: 1;
     margin: 0 auto;
     align-self: center;
     border-top: solid 2px;
     border-bottom: solid 2px;
 }
 
 /* Blockquote header */
 .blockquote h1 {
    font-family: 'Special Elite', cursive;
    position: relative;
     color: $main-color;
     font-size: 30px;
     font-weight: 800;
     line-height: 1.4;
     margin: 0;

 }
 
 /* Blockquote right double quotes */
 .blockquote:after {
     position: absolute;
     content: "”";
     color: $main-color;
     font-size: 10rem;
     line-height: 0;
     bottom: -50px;
     right: 0px;
     @media (max-width: 500px) {
            font-size: 7rem;
     }  
 }
 
 /* increase header size after 600px */
 @media all and (min-width: 600px) {
     .blockquote h1 {
         font-size: 30px;
    }
 
 }
 
 /* Blockquote subheader */
 .blockquote h4 {
     position: relative;
     color: $main-color;
     font-size: 1.3rem;
     font-weight: normal;
     line-height: 1;
     margin: 0;
     padding-top: 20px;
     z-index: 1;
 }