<div class="post-details">
	<div class="" *ngIf="post;else loading">
		<section class="ftco-section ftco-no-pt ftco-no-pb">
			<div class="">
				<div class="d-flex">
					<div class="px-md-5">
						<div class="row pt-md-4">
							<div class="w-100 post-content">
								<!-- <blockquote class="w-100 post-content p-3">
									{{post?.content}}
								</blockquote> -->

								<div class="blockquote-wrapper">
									<div class="blockquote">
									  <h1>
										{{post?.content}}
										<!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ducimus neque odio, placeat est tempora aspernatur dolores, assumenda eius veniam minima perferendis blanditiis sit quam nisi cumque dolore veritatis harum? -->
									   </h1>
									  <h4>&mdash;{{post?.user?.name}}</h4>
									</div>
								  </div>
									
							</div>


							<div class="pt-5 mt-5 w-100">
								<h3 class="mb-5 font-weight-bold">{{post?.comments?.length}} Comments</h3>
								<ul class="comment-list" *ngIf="post?.comments?.length">
									<li class="comment" *ngFor="let comment of post?.comments">
										<div class="vcard bio">
											<img class="rounded-circle" [src]="comment?.user?.picture"
												(error)="user_img2.src = 'https://ui-avatars.com/api/?background=f0f0f0&color=0e222e&name='+comment.user?.name"
												alt="" #user_img2>
										</div>
										<div class="comment-body">
											<h3>
												{{comment?.user?.name}}
												<span *ngIf="currentUser['_id'] === comment['user']['_id']" class="badge badge-secondary p-1">Me</span>

											</h3>
											<!-- <div class="meta">October 03, 2018 at 2:21pm</div> -->
											<p>{{comment?.content}}</p>
											<!-- <p><a href="#" class="reply">Reply</a></p> -->
										</div>
									</li>
								</ul>
								<!-- END comment-list -->

								<div class="comment-form-wrap pt-5">
									<h3 class="mb-5">Leave a comment</h3>
									<div  class="p-3 p-md-5 bg-light">
										<div class="form-group">
											<label for="message">Comment</label>
											<textarea name="" id="message" cols="30" rows="10"
												class="form-control" #comment></textarea>
										</div>
										<div class="form-group">
											<button (click)='addComment(comment.value)' class="btn py-3 px-4 btn-primary">Post Comment</button>
										</div>

									</div>
								</div>
							</div>
						</div><!-- END-->
					</div>
				</div>
			</div>
		</section>
	</div><!-- END COLORLIB-MAIN -->


	<ng-template #loading>
		<!-- <div class="loading-spinner"> -->
		<!-- <app-spinner [size]="'lg'"></app-spinner> -->
		<div class="p-4">
			<img class="m-3 w-100" src="../../../assets/icons/post-placeholder.gif" alt="">
		</div>

		<!-- </div> -->
	</ng-template>
</div>