<div class="blog-entry   d-md-flex">
  <div class="img img-2">
      <ng-container *ngIf="!imgLoaded">
          <app-spinner [size] = "'sm'"></app-spinner>
      </ng-container>
      <img class="w-100 h-100 rounded-circle" [src]="post?.user?.picture" [hidden]="!imgLoaded" (load) ="imgLoaded = true" 
        (error) ="user_img1.src = 'https://ui-avatars.com/api/?background=f0f0f0&color=29a0e9&name='+post.user?.name"
      alt="" #user_img1>
  </div>

  <div class="text text-2 pl-md-4">
      <h3 class="mb-2">

          <ng-container *ngIf="!imgLoaded">
            <img class="sm w-50-h-50 rounded-circle" src="../../../assets/icons/img-placeholder.gif" alt="">
        </ng-container>
        <img class="sm w-50-h-50 rounded-circle" [src]="post?.user?.picture" [hidden]="!imgLoaded" (load) ="imgLoaded = true" 
        (error) ="user_img2.src = 'https://ui-avatars.com/api/?background=f0f0f0&color=29a0e9&name='+post.user?.name"
        alt="" #user_img2>

        <a href="single.html">
          {{post.user?.name}} 
          <span *ngIf="currentUser['_id'] === post['user']['_id']" class="badge badge-secondary">Me</span>
        </a>
      </h3>
      <div class="meta-wrap">
          <p class="meta">
              <span><i class="far fa-calendar mr-1"></i>June 28, 2019</span>
              <span><i class="fa-thumbs-up mr-1" [ngClass]="true ? 'far' : 'fa'" ></i>(0)</span>
              <span><i class="far fa-comment-alt mr-1"></i>({{post.comments?.length}})</span>

              <span><a href="single.html"><i class="far fa-folder mr-1"></i>Travel</a></span>

          </p>
      </div>
      <p class="post-content">{{post.content}}</p>
      <p>
        <a [routerLink]="[post._id]" class="btn-custom">Read More 
          <span class="fa fa-chevron-right"></span>
        </a>
      </p>
  </div>

  <div *ngIf="currentUser['_id'] === post['user']['_id']">
    <div class="actions">
      <button (click)="editPost()"><i class="fa fa-pencil-alt" ></i></button>
      <button (click)="deletePost()"><i class="fa fa-trash-alt" ></i></button>
    </div>
  </div>
</div>