<div class="blog-entry   d-md-flex">
  <div class="img img-2">
      <ng-container *ngIf="!imgLoaded">
          <app-spinner [size] = "'sm'"></app-spinner>
      </ng-container>
      <img class="w-100 h-100 rounded-circle" [src]="post?.user?.picture" [hidden]="!imgLoaded" (load) ="imgLoaded = true" 
        (error) ="user_img1.src = 'https://ui-avatars.com/api/?background=f0f0f0&color=29a0e9&name='+post.user?.name"
      alt="" #user_img1>
  </div>

  <div class="text text-2 pl-md-4">
      <h3 class="mb-2">

          <ng-container *ngIf="!imgLoaded">
            <img class="sm w-50-h-50 rounded-circle" src="../../../assets/icons/img-placeholder.gif" alt="">
        </ng-container>
        <img class="sm w-50-h-50 rounded-circle" [src]="post?.user?.picture" [hidden]="!imgLoaded" (load) ="imgLoaded = true" 
        (error) ="user_img2.src = 'https://ui-avatars.com/api/?background=f0f0f0&color=29a0e9&name='+post.user?.name"
        alt="" #user_img2>

        <a routerLink='/profile/{{post?.user?._id}}'>
          {{post.user?.name}} 
          <span *ngIf="currentUser['_id'] === post['user']['_id']" class="badge badge-secondary p-1">Me</span>
        </a>
      </h3>
      <div class="meta-wrap">
          <p class="meta">
              <span><i class="far mr-1" [ngClass]="postTime.indexOf('Days') > -1 ? 'fa-calendar' : 'fa-clock'"></i>{{postTime}}</span>

              <span><a><i class="far fa-folder mr-1"></i>{{post?.category?.name}}</a></span>
              <span class="icon" (click)="toggleLikes(currentUser['_id'])">
                <i class="fa-heart mr-1" 
                  [ngClass]="(post['liked']) ? 'fa active' : 'far'" 
                >
              </i>({{numberOfLikes}})</span>
              <span class="icon"><i class="far fa-comment-alt mr-1"></i>({{post.comments?.length}})</span>

          </p>
      </div>
      <p class="post-content">{{(post.content.length > 50 && postType ==='short') ? post.content.substring(0,25)+'...' : post.content}}
      </p>
      <p *ngIf="postType === 'short'">
        <a [routerLink]="['/posts', post._id]" class="btn-custom">Read More 
          <span class="fa fa-chevron-right"></span>
        </a>
      </p>
  </div>

  <div *ngIf="currentUser['_id'] === post['user']['_id']">
    <div class="actions">
      <button (click)="editPost()" class="edit"><i class="fa fa-pencil-alt" ></i></button>
      <button (click)="deletePost()" class="delete"><i class="fa fa-trash-alt" ></i></button>
    </div>
  </div>
</div>