.pages-content {
        min-height: 90vh;
    //     padding-left: 100px;
    // @media (max-width: 992px) {
    //     padding-left: 50px;
    // }
    // @media (max-width: 400px) {
    //     padding-left: 0px;
    // }
}

.mt-60{
    margin-top: 60px;
}

.menu_toggler-alt {
    background: #29a0e9 !important;
    color: #fff !important;
}