
@import '../../variables.scss';

.loading-spinner {
    min-height: 90vh ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.posts {
  width: 75%;
}

.sidebar-toggler {
  display: none;
  // margin: 0 20px;
  font-size: 15px;
  position: fixed;
  top: 60px;
  right: 10px;

    background: $main-color;
    /* padding: 5px; */
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border:none;
    outline: none;
    border-radius: 50%;
    color: #fff !important;
    box-shadow: 0px 0px 4px #777;
}

.sidebar-lg {
  visibility: visible !important;
  padding: 20px !important;
  width: 250px !important;
  box-shadow: 5px 5px 10px #999 !important;
}

@media (max-width: 767px){
  .sidebar-toggler  {
    display: flex;
    z-index: 100000;
  }
    .sidebar{
      visibility: hidden;
    }
    .posts {
      width: 100%;
    }
   
}


.new-post {
  height: 70px;
    width: 97%;
    box-shadow: 0px 1px 4px #f0f0f0;
    justify-content: center;
    align-items: center;
}
.new-post img {
    height: 60%;
    margin-right: 5px;
}
.new-post button:not(.header-side-menu-toggler){
  background-color: #f2f3f5;
  color:#777;
  border: none;
  border-radius: 40px;
  width: 80%;
  height: 40px;
  outline: none;
  text-align: left;
  padding: 0 20px;
}


::ng-deep .modal-content {
  border: none;
  border-radius: 8px ;
 }
