
@import '../../variables.scss';

.loading-spinner {
    min-height: 90vh ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.posts {
  width: 75%;
}

.sidebar-toggler {
  display: none;
  // margin: 0 20px;
  font-size: 15px;
  position: fixed;
  top: 20px;
  right: 10px;
  background: transparent;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border:none;
  outline: none;
  color: $main-color !important;
}

.sidebar-lg {
  visibility: visible !important;
  padding: 20px !important;
  width: 250px !important;
  box-shadow: 5px 5px 10px #999 !important;
}
.sidebar-toggler-opened {
  background-color: $main-color;
  color: #fff !important;
  box-shadow: 0px 0px 4px #777;
}

@media (max-width: 767px){
  .sidebar-toggler  {
    display: flex;
    z-index: 100000;
  }
    .sidebar{
      visibility: hidden;
    }
    .posts {
      width: 100%;
    }
   
}


.new-post {
  height: 70px;
    width: 97%;
    box-shadow: 0px 1px 4px #f0f0f0;
    justify-content: center;
    align-items: center;
}
.new-post img {
    height: 60%;
    margin-right: 5px;
}
.new-post button:not(.header-side-menu-toggler){
  background-color: #f2f3f5;
  color:#777;
  border: none;
  border-radius: 40px;
  width: 80%;
  height: 40px;
  outline: none;
  text-align: left;
  padding: 0 20px;
}


::ng-deep .modal-backdrop {
  opacity: 0.9 !important;
  background-color: #fff ;
}
::ng-deep .modal-content {
  border: none;
  border-radius: 8px ;
  box-shadow: 0px 1px 5px 2px #ece2e2;
 }

 @media (max-width: 500px) {
   .post-img-placeholder {
     width: 95%;
   }
   .posts-container {
     padding-right: 0 !important;
     padding-left: 0 !important;
   }
 }
 @media (max-width: 400px) {
   .new-post {
     position: fixed;
     background-color: #fff;
     width: 100%;
     z-index: 1000;
     box-shadow: 0px 1px 0px #f0f0f0;
     img { display: none}
      button {
       margin-left: 25px;
       width: 70% !important;
     }
   }
   .posts-content, .posts-content-placeholder  {
     margin-top: 50px;
   }
 }