
@import '../../variables.scss';

.loading-spinner {
    min-height: 90vh ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.posts {
  width: 75%;
}

.sidebar-toggler {
  display: none;
  margin: 0 20px;
  font-size: 20px
}

.sidebar-lg {
  width: 250px !important;
}
.sidebar-sm {
  width: 50px !important;
}
@media (max-width: 767px){
    .sidebar-toggler {
        display: block;
    }
    .posts {
      width: calc(100% - 50px);
    }
    .sidebar {
      width: 50px;
    }
    .side-filter-container {
      display: none;
    }
}


.new-post {
  height: 70px;
    width: 100%;
    box-shadow: 0px 1px 4px #f0f0f0;
    justify-content: center;
}
.new-post img {
    height: 100%;
    margin-right: 10px;
}
.new-post button{
  background-color: #f2f3f5;
  color:#777;
  border: none;
  border-radius: 40px;
  width: 80%;
  outline: none;
  text-align: left;
  padding: 0 20px;
}
::ng-deep .modal-content {
  border: none;
  border-radius: 8px ;
 }